<head>
  <title>Cool Tyler's Fun Blog</title>
  <link rel="stylesheet" type="text/css" href="/blog/css/blog.css" />
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
</head>

<body>
  <div class="post-header">
    <p class="post-title">Top 10 homies</p>
    <p class="post-date">March 18, 2019</p>
  </div>

  <div class="post-body">
    <p class="title">Number 10: Pizza</p>
    <p>what list of homies would be complete without pizza. she doesnt mind whether u eat her hot or cold, shes totally fine living in the fridge for months at a time. plus shes tasty as fuck. not to mention, and ull find this is a trend among these homies, but she can be the perfect food for any situation. i mean u can have plain cheese, you can have meat lovers, u can have veggie pizza, combo pizza, need i go on? theres breakfast pizza and even dessert pizza (what a fuckin homie).</p>
    <hr class="basic-separator" />

    <p class="title">Number 9: Jon</p>
    <p>jon is just a straight-up homie. wanna freestyle some bars? jonll make you a beat, plus hell feat on your track, plus hell burn you a mixtape. need your meat spiced before applying a delicate sear? jons down to sacrifice one of his hands as a meat hand. every. time. plus he makes hella fancy drinks. thanks for bein such a homie, dogg.</p>
    <hr class="basic-separator" />

    <p class="title">Number 8: Teeth</p>
    <p>u kno a lotta people dont realize just how much theyd be fucked without their teeth.</p>
    <hr class="basic-separator" />

    <p class="title">Number 7: House + Keys Combo </p>
    <p>i included both because one is useless without the other.</p>
    <hr class="basic-separator" />

    <p class="title">Number 6: Vodka </p>
    <p>водка - напиток родины. независимо от того, в какой ситуации вы находитесь, независимо от настроения, правильный напиток - это водка. оплакиваете ли вы смерть погибшего товарища или празднуете свободу своего народа от тисков капитализма, кто является хоми, который имеет вашу спину? водка.</p>
    <hr class="basic-separator" />

    <p class="title">Number 5: Phone Charger</p>
    <p>whats the one problem with phones? they run out of power. sometimes your phone will be all like "nah dogg, i can last 3 days without charging u kno", and then boom he dies on u in like fuckin 4 hours total. not a homie. u know who is a homie tho? phone charger. he picks up that slack ur phone drops. mad chiller. 100% homie</p>
    <hr class="basic-separator" />

    <p class="title">Number 4: Helmet</p>
    <p>if ure ever in a precarious situation like idk maybe ur on a bike or a motorbike or a trike, ure probably worried about ur head being smashed in and then u get permanent brain damage and thats no bueno. but u know whos got ur back tho? helmet. u know how much of a homie helmet is? if ur gonna fall and cause ur head some serious damage, helmet will take that damage for u. even if it means the death of her. shed throw her life on the line for u and what would u do in return? nothin. but thats ok, shes a homie and shes not gonna be homilicious on any kinda recipricative conditions.</p>
    <hr class="basic-separator" />

    <p class="title">Number 3: Garlic</p>
    <p>i just really like garlic. whenever im cooking i put mad garlic in, like no matter what it is.</p>
    <hr class="basic-separator" />

    <p class="title">Number 2: Socks</p>
    <p>ok this is real homie hours now. socks got ur back any time, any where. cold feet is like easily the single worst feeling in the world but u kno what? socks gotchu. socks would be #1 but theyve got a weakness. an alternate-ego that is probably the opposite of a homie. wet socks. wet socks are not a homie. but socks, u kno. socks are such a fuckin homie that they make up for wet socks</p>
    <hr class="basic-separator" />

    <p class="title">Number 1: T-Piece</p>
    <p>t piece is such a fuckin homie dude. like its insane. no one needs an explanation for how t piece is a homie. t piece doesnt need any introduction. but u kno what they deserve it. they deserve it and so much more. any kinda situation u find urself in, t piece will get u outta that hole. t piece dawg. t piece is so fuckin cool, and they always show up right at right when u need them. they are easily the #1 homie. EASILY. yo t piece is just a homie u kno. hell yeah. i love t piece. t piece is everyones homie but if ur t pieces homie thats like saying something u kno. fuck dude, i love t piece. easily the homiest. lov u t piece, keep bein urself. #1 homie. easy.</p>
  </div>
</body>
