<head>
  <title>Cool Tyler's Fun Blog</title>
</head>

<body>
  <h1>Top 10 homies</h1>
  <ol>
    <li>t piece</li>
    <li>socks</li>
    <li>garlic</li>
    <li>helmet</li>
    <li>phone charger</li>
    <li>vodka</li>
    <li>house + keys combo</li>
    <li>teeth</li>
    <li>jon</li>
    <li>pizza</li>
  </ol>
</body>
