.body {
	font-family: 'Asap', sans-serif;
	font-size: 1.2rem;
	color: #111;
	height: 100%;
}

.header {
	color: #eee;
	border-style: solid;
	border-color: #333;
	border-width: 0px 0px 1px 0px;
	position: relative;
	z-index: 1;
	float: left;
}

#fake-header {
	display: block;
	height: 10%;
	width: 100%;
}

.navEl a:link, .navEl a:visited {
	color: #eee;
}

.title .h3  a:link, .title .h3 a:visited {
	color: #88e;
	text-decoration: none;
}

.title-wrapper {
	width: 100%;
	height: 400px;
	height: 100vh;
}

.title-wrapper-small {
	width: 100%;
	height: 50vh;
}

.title-wrapper p {
	text-align: center !important;
}

.title-wrapper-small p {
	text-align: center !important;
}

.title {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.content p {
	margin: 1% auto 2% auto;
	width: 95%;
	text-align: justify;
}

#random-text {
	font-size: 70%;
	width: 80%;
}

.content .button {
	text-align: center;
	width: 100%;
	font-size: 150%;
	color: #eee;
	padding-top: 0.2vh;
	padding-bottom: 0.5vh;
}

.separate-bg {
	background: rgba(17,17,17,1);
}

.plain-bg {
	background-color: #f2f2f2;
}

.dark-bg {
	background: url("../img/pixels.png");
	background-size: 100%;
	background-repeat: none;
	color: #eee;
}

.button-real {
	cursor: pointer;
}
