/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.header {
	font-family: 'Nunito', sans-serif;
	padding: 0.5vw 0;
	height: 7.2vh;
	width: 100%;
	font-size: 1.8vw;
}

.header .logo {
	margin: 0 1%;
	height: 5.6vh;
	width: 5.6vh;
	margin-top: 0.8vh;
	float:left;
}

.nav {
	height: 2.8vh;
	margin-left: 0.5vw;
	margin-top: calc(3.6vh - 1.2vw);
}

.nav ul {
	list-style: none;
	margin-right: 2.8vw;
}

.navEl {
    display: inline-block;
	margin: 0 0.5vw 0 0;
}


.navEl a:link, .navEl a:visited {
	text-decoration: none;
}

.h1 {
	font-size: 7vh;
	padding: 1% 0;
}

.h2 {
	font-size: 3.6vh;
	padding: 0 0 1% 0;
}

.h3 {
	font-size: 2.8vh;
	padding: 0 0 1% 0;
}

.small_1 {font-size: 80%;}
.small_2 {font-size: 70%;}
.small_3 {font-size: 60%;}
.small_4 {font-size: 50%;}
.small_5 {font-size: 40%;}
.small_6 {font-size: 30%;}

.hidden_link {
	color: #111;
	text-decoration: none;
}

.fake-link {
	color: #88e;
	text-decoration: none;
	cursor: pointer;
}

.separate {
	display: inline-block;
	margin: 0 0.5vw 0 0.5vw;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.fade-in-slow {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-delay: 0.9s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.fade-in-slower {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-delay: 1.9s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.fade-pause {
	animation-play-state: paused;
}

@media screen
	and (max-width: 900px){

	.header {

		font-size: 2.6vw;
	}

	.nav {
		margin-top: calc(3.6vh - 1.8vw);
	}

}
