<html>
    <head>
        <meta charset="utf-8">
        <meta lang="en-us">
        <meta name="viewport" content="width=device-width">

        <title>Tyler Leite</title>

        <link rel="icon" type="image/png" href="/home/graphics/favicon.png">

        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/home/css/normalize.css">

        <link rel="stylesheet" type="text/css" href="/home/css/style.css">
        <link rel="stylesheet" type="text/css" href="/home/css/home.css">
    </head>
    <body>
        <div class="page">
            <p class="noselect">Tyler Leite</p>
            <p class="icons noselect">
                <a target="_blank" href="https://linkedin.com/in/tylerleite"><img class="icon" src="/home/graphics/icons/linkedin.png"/></a>
                <a target="_blank" href="https://github.com/TylerLeite"><img class="icon" src="/home/graphics/icons/github.png"/></a>
                <a target="_blank" href="https://soundcloud.com/tyle-randerson"><img class="icon" src="/home/graphics/icons/soundcloud.png"/></a>
                <a target="_blank" href="/resume"><img class="icon" src="/home/graphics/icons/resume.png"/></a>
                <a target="" href="/writing"><img class="icon" src="/home/graphics/icons/articles.png"/></a>
                <a target="" href="/2dlsystem"><img class="icon" src="/home/graphics/icons/lsystem.png"/></a>
                <a target="" href="/3dlsystem"><img class="icon" src="/home/graphics/icons/forest.png"/></a>
                <a target="" href="/harmonizer"><img class="icon" src="/home/graphics/icons/harmonizer.png"/></a>
                <!-- <a target="" href="/oppartunity"><img class="icon" src="/home/graphics/icons/oppartunity.png"/></a> -->
                <!-- <a target="" href="games.html"><img class="icon" src="/home/graphics/icons/games.png"/></a> -->
            </p>
            <img src="/home/graphics/portrait_hoodie.png" class="portrait">
        </div>
    </body>
</html>
