<html>
  <head>
    <meta charset="utf-8">
    <title>My Kitchen</title>
    <style>
      body { margin: 0; }
    </style>
  </head>
  <body>
    <script type="module" src="/kitchen/main.js"></script>
  </body>
</html>
