* {
  font-family: Montserrat;
  margin: 0;
}

.message {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 32px;
}

.buttons {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}


button {
  font-size: 36px;

  background: white;
  border: 1px solid black;
  border-radius: 4px;

  margin: 1vw 2vw;
  padding: 10px 20px;

  box-shadow: none !important;
  outline: none !important;

  cursor: pointer;
}

button:hover, button.selected {
  color: #22aa45 !important;
}

button.not-selected {
  background: #c9c9c9;
  color: #888;
}

.row1, .row2 {
  margin-bottom: 20px;
}

p#you-get {
    text-align: center;
    font-size: 48px;
    margin-top: 30px;
}
