* {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

html {
  padding: 0;
  margin: 0;

  max-height: 100vh;
  overflow: hidden;
}

body {
  background: url("../graphics/bg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
}

p {
  width: 100%;
  font-size: var(--font-size-text);
  text-align: center;
  margin-top: var(--pmargin);
  font-family: 'Press Start 2P', sans-serif;
  color: var(--text-color-main);
}

.icons {
  margin-top: 0;
  cursor: default;
}

.icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.icon:hover {
  filter: hue-rotate(180deg);
}

.portrait {
    width: auto;
    height: 70vh;
    max-height: 70vw;

    z-index: -1;

    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
}

#tycho {
  z-index: 1;
  cursor: pointer;
}

@-moz-document url-prefix() {
  div.page  {
    overflow: visible;
  }
}
