<head>
  <title>Fractal</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/2dlsystem/css/style.css">

  <script src="/2dlsystem/js/paint.js"></script>
</head>

<body>
  <canvas
    id="canvas"
    width="1404"
    height="1000"
  ></canvas>

  <div class="wrapper row hidden">
    <div id="rules" class="rules col">
      <span id="computeinputs" class="row">
        <input id="start" type="text" value="++X"/>
        <input id="iterations" type="text" value="10"/>
      </span>

      <span class="row">
        <input class="from" type="text" value="X">
        <p class="eq">=</p>
        <input type="text" value="cF[F+X+FX]-cF[F-X]F[+cF+X]"/>
        <p class="eq" onclick="event.target.parentElement.remove();">x</p>
      </span>

      <span class="row">
        <input class="from" type="text" value="F">
        <p class="eq">=</p>
        <input type="text" value="FF"/>
        <p class="eq" onclick="event.target.parentElement.remove();">x</p>
      </span>

      <div id="rule-add-anchor" style="display:none;"></div>

      <button id="add-rule">add a rule</button>
    </div>

    <div class="controls col">
      <span class="row">
        <span class="col half">
          <p>angle</p>
          <p>size</p>
          <p>start x (%)</p>
          <p>start y (%)</p>
          <p>colorStep</p>
          <p>render speed</p>
        </span>

        <span class="col half">
          <input id="angle-in" type="text" value="25" />
          <input id="size-in" type="text" value="0.325" />
          <input id="x-in" type="text" value="50" />
          <input id="y-in" type="text" value="0" />
          <input id="colorstep-in" type="text" value="0.03" />
          <input id="speed-in" type="text" value="1500" />
        </span>
      </span>

      <button id="render-button">render</button>
    </div>
  </div>

  <button class="toggle-hud hidden">toggle controller</button>

  <script src="/2dlsystem/js/frac.js"></script>
  <script src="/2dlsystem/js/bind.js"></script>
</body>
