<!DOCTYPE html>
<html>
<head>
    <title>Tyler Leite</title>
    <link rel="stylesheet" type="text/css" href="/resume/css/resume.css">
    <link rel="icon" type="image/png" href="/resume/graphics/favicon.png">
</head>

<body>
    <div id="wrapper"><div id="resumeBody">
        <div id="name"><p>Tyler Leite</p></div>
        <div class="midAlign"><hr class="fullHR"></div>
        <div id="contact"><p id="hid"></p></div>
        <div class="midAlign"><hr class="midHR"></div><br>

        <div class="body"><p>5+ years of experience programming in many languages both professionally and as a hobby. Expert in UI/UX design. Comfortable working with a team, both as a member and a leader.</p></div><br>

        <div class="title"><p>Experience</p></div>
        <hr>
        <div class="body"><ul>
             <li><p>
                 Finxera Inc., 2017 - present<br>
                 &emsp;Full-stack development, architectured a complete refactor of the app, coordinated with a team in India, including moving there for several months. Angular, Node.js, React Native.
             </li></p>
             <li><p>
                 TeachFX, 2017<br>
                 &emsp;Contract work. Full stack web development, mobile development. Polymer.js, Node.js, MongoDB, React Native.
             </li></p>
             <li><p>
              OttoQ, 2017<br>
              &emsp;Full-time. Front-end developement, overhauled the UI and UX to modernize the site, sped up load times by 10x. Polymer.js.
            </p></li>
            <li><p>
              A100 Program, Independent Software<br>
              &emsp; Summer 2016 Cohort. Web development apprenticeship with a focus on full-stack. Meteor, Blaze, and Bootstrap</p></li>
            <li><p>ATK Farm, 2016<br>
              &emsp; Front-end design. HTML, CSS, JavaScript, Bootstrap.
            </p></li>
            <li>
              <p>The Wright Cut, 2016 - 2017<br>
              &emsp;Contract work. Front-end design. Wix.
            </p></li>
            <li><p>
              IGo Eyewear, 2015 - 2016<br>
              &emsp;Freelance work. Web designer and SEO. Wix and Wordpress.
            </p></li>
            <li><p>
              Macarra BJJ, 2015 <br>
              &emsp;Freelance work. Back-end development and front-end design. HTML, CSS, and PHP.
            </p></li>
            <li><p>
              SeqHub, 2014 - present<br>
              &emsp;Full-time, part-time. Cofounder and Lead programmer, heading a team of back-end developers and front-end designers for seq-hub.com. HTML, CSS, JavaScript, and PHP.
            </p></li>
            <li><p>CubingWorld, 2014<br>
              &emsp;Freelance work. Back-end development, implemented a system for browsing and organizing videos. HTML, CSS, and PHP.
            </p></li>
            <li><p>
              oppARTunity, 2014<br>
              &emsp;Freelance work. Back-end developer (PHP), created a program to make mosaics from user-uploaded images for oppartunity.org
            </p></li>
        </ul></div>

        <div class="title"><p>Skills</p></div>
        <hr>
        <div class="body">
            <ul>
                <li><p>5 years of experience with HTML, CSS, SQL</p></li>
                <li><p>Proficient in C++, Python, JavaScript (3-5+ years)</p></li>
                <li><p>Proficient Polymer.js, Node.js (3 years)</p></li>
                <li><p>Experienced with openGL and SDL (2 years)</p></li>
                <li><p>Experienced with ReactJS, Angular, Meteor (2 years)</p></li>
                <li><p>Familiar with C, Java, Scheme, C# (1-3 years)</p></li>
                <li><p>Familiar with Unity and Multimedia Fusion 2 game engines</p></li>
                <li><p>Some experience with MIPS assembly language</p></li>
            </ul>
        </div>

        <div class="title"><p>Contact / Portfolio</p></div>
      <hr>
      <div class="body"><ul>
          <li><p>tyler.leite@yandex.com</p></li>
          <li><p>http://cooltyler.fun</p></li>
          <li><p>linkedin.com/in/tylerleite</p></li>
          <li><p>github.com/tylerleite</p></li>
      </ul></div><br>

    </div></div>
</body>
</html>
