<!DOCTYPE html>
<html>
<head>
    <title>Tyler Leite</title>
    <link rel="stylesheet" type="text/css" href="/resume/css/resume.css">
    <link rel="icon" type="image/png" href="/resume/graphics/favicon.png">
</head>

<body>
  <div id="wrapper"><div id="resumeBody">
    <div id="name"><p>Tyler Leite</p></div>
    <div class="midAlign"><hr class="fullHR"></div>
    <div id="contact"><p id="hid"></p></div>
    <div class="midAlign"><hr class="midHR"></div><br>

    <div class="body"><p>Software engineer with 7+ years of experience as a full-stack developer using modern stacks and tools. Expert in UI/UX
    design. Passionate leader with 4 years of experience leading local and international teams, including product ownership
    and project management.</p></div><br>

    <div class="title"><p>Experience</p></div>
    <hr>
    <div class="body"><ul>
      <li><p>Recogni Inc., Senior Software Engineer, San Jose, CA, 2021 - 2022</p></li>
      <ul>
        <li><p>React, Node, Go, Python, C, C++, OpenGL, Protobuf / gRPC</p></li>
        <li><p>Wrote web applications for internal use to display output and diagnostic information from an ASIC</p></li>
        <li><p>Created real-time 3D visualization software in Go + OpenGL</p></li>
        <li><p>Designed + implemented gRPC APIs for communication between embedded code + arbitrary clients</p></li>
        <li><p>Wrote API endpoints for an embedded system</p></li>
        <li><p>Owned data + code for an ML pipeline from ASIC output to client-ready API messages</p></li>
      </ul>
      <li><p>Adecco @ Google, Software Engineering Contractor, 2020</p>
        <ul>
            <li><p>Lit-element, AngularJS, Flask, Node, Postgres, Redis, Firebase</p></li>
            <li><p>Google Cloud Platform, Docker, Kubernetes</p></li>
            <li><p>Designed and created a GUI and an SDK for managing experiments run on quantum circuit simulators</p></li>
            <li><p>Wrote API servers and the back-end components those APIs interacted with</p></li>
            <li><p>Designed project architecture and defined interactions between independent components</p></li>
            <li><p>Handled dev-ops for application deployment</p></li>
            <li><p>Handled continuous integration + continuous deployment</p></li>
        </ul>
      </li>
      <li><p>
        Finxera Inc., Software Engineer, 2017 - 2020
        <ul>
          <li><p>Angular, Node, React, React Native</p></li>
          <li><p>Coordinated and managed projects cross-globally with a team in India</p></li>
          <li><p>Architectured a complete refactor of a complex web-app</p></li>
          <li><p>Worked as the sole developer to deliver a mobile app in two months</p></li>
          <li><p>Designed modular, full-stack code architecture for enterprise software</p></li>
          <li><p>Built several proof-of-concept / demo applications (full-stack)</p></li>
          <li><p>On the product team, owned two products and consulted for three others</p></li>
          <li><p>Presented demos to customers and gathered live feedback</p></li>
        </ul>
      </p></li>

      <li><p>
        TeachFX, Full-stack development contractor, 2017
        <ul>
          <li><p>Polymer, Node, MongoDB, React Native</p></li>
          <li><p>Did full-stack design and development for web + mobile applications</p></li>
          <li><p>Developed a solution for the efficient upload and streaming of large audio files</p></li>
        </ul>
      </p></li>

      <li><p>
        OttoQ, Front-end development intern, 2017
        <ul>
          <li><p>Polymer</p></li>
          <li><p>Overhauled the UI and UX to modernize the webapp, sped up load times by 10x</p></li>
          <li><p>Delivered a prototype for real-world use given a strict one-day time constraint</p></li>
        </ul>
      </p></li>

      <li><p>
        A100 Program, Independent Software
        <ul>
          <li><p>Meteor, Blaze, MongoDB, Bootstrap</p></li>
          <li><p>Studied as part of the Summer 2016 Cohort</p></li>
          <li><p>Full-stack web development apprenticeship</p></li>
        </ul>
      </p></li>

      <li><p>
        SeqHub, Cofounder and Lead programmer, 2014 - 2015
        <ul>
          <li><p>HTML, CSS, JavaScript, and PHP</p></li>
          <li><p>Worked as a full-stack engineer, leading a team of three</p></li>
          <li><p>Designed the mechanism for a marketplace-style bidding system</p></li>
          <li><p>Designed the entire UI + UX</p></li>
        </ul>
      </p></li>
    </ul></div>

    <div class="title"><p>Skills</p></div>
    <hr>
    <div class="body">
      <ul>
        <li><p>JavaScript</p></li>
        <li><p>Python</p></li>
        <li><p>Go</p></li>
        <li><p>TypeScript</p></li>
        <li><p>Node.js</p></li>
        <li><p>React</p></li>
        <li><p>React Native</p></li>
        <li><p>Angular 2+</p></li>
        <li><p>Polymer.js</p></li>
        <li><p>LitElement</p></li>
        <li><p>CSS</p></li>
        <li><p>Git</p></li>
        <li><p>Docker</p></li>
        <li><p>Kubernetes</p></li>
        <li><p>C++</p></li>
      </ul>
    </div>

    <div class="title"><p>Contact / Portfolio</p></div>
    <hr>
    <div class="body"><ul>
      <li><p>psychoca.de</p></li>
      <li><p>linkedin.com/in/tylerleite</p></li>
      <li><p>github.com/tylerleite</p></li>
    </ul></div><br>

  </div></div>
</body>
</html>
