<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/langen/css/style.css">
	<link rel="stylesheet" type="text/css" href="/langen/css/home-v1.css">

	<link rel="icon" type="image/png" href="/langen/img/favicon.png">

	<script src="/langen/js/gentext.js"></script>
</head>

<body class="body plain-bg">
<div class="wrapper">
	<div id="header" class="header separate-bg">
		<a target="_blank" href="https://www.google.com/search?q=portuguese+word+for+milk"><img src="/langen/img/logo.png" width="32px" height="32px" class="logo"></a>
		<nav id="nav" class="nav noselect"><ul>
			<li class="navEl"><a target="_blank" href="https://www.google.com/maps/place/41+Botsford+Ave,+Milford,+CT+06460/@41.1893365,-73.0915363,17z/data=!3m1!4b1!4m2!3m1!1s0x89e80ccc9f0b0b69:0x36f046694681651e">[home]</a></li>
			<li class="navEl"><a target="_blank" href="/resume">[resume]</a></li><p class="separate">:|:</p>
			<li class="navEl"><a target="_blank" href="https://github.com/TylerLeite">[more]</a></li>
			<li class="navEl"><a target="_blank" href="https://www.youtube.com/watch?v=o-_7Kncw9T0">[to]</a></li>
			<li class="navEl"><a target="_blank" href="http://www.newgrounds.com/portal/view/562242">[come]</a></li>
			<li class="navEl small_1"><a target="_blank" href="https://www.facebook.com/tyler.leite.7">[i]</a></li>
			<li class="navEl small_2"><a target="_blank" href="https://www.youtube.com/watch?v=-Tn4uXmWZcQ">[swear]</a></li>
			<li class="navEl small_3"><a target="_blank" href="https://www.youtube.com/watch?v=j5VuG33vMA4">[please]</a></li>
			<li class="navEl small_4"><a target="_blank" href="https://www.youtube.com/watch?v=kjOCY1NX_B8">[don't]</a></li>
			<li class="navEl small_5"><a target="_blank" href="https://www.youtube.com/watch?v=QRrer1toZX4">[leave]</a></li>
			<li class="navEl small_6"><a target="_blank" href="https://www.linkedin.com/in/tylerleite">[me]</a></li>
		</ul></nav>
	</div>
	<div id="fake-header"></div>
	<div class="title-wrapper dark-bg">
		<div class="title">
			<p class="h1 fade-in">Tyler</p>
			<p class="h2 fade-in-slow">A similar kind of computer programmer.</p>
			<p class="h3 fake-link noselect fade-in-slower" id="scroll-1">[begin]</p>
		</div>
	</div>
	<div id="content" class="content">
		<div class="title-wrapper-small">
			<div class="title fade-in fade-pause">
				<p class="h1">this is a website.</p>
			</div>
		</div>

	<div class="website-text">
  		<p class="fade-in fade-pause">This is a website. Well, not really at this point. It'll come along though. Eventually. I even have things to put up, it's just a matter of cleaning everything up. I wouldn't want to be embarassed by sloppy code on my portfolio website, now would I? (But probably I'm just gonna put it up as-is, let's be honest). Anyway, I know I don't have a link here yet, which means you had to use some shenanigans to get here. Something like typing brute-forcing the URL, or maybe overhearing me talking to myself about this page. Maybe you were perusing my LinkedIn and thought "Hey, <a class="hidden_link" target="_blank" href="/langen/img/me.jpg">this guy</a> is really cool and <a class="hidden_link" target="_blank" href="/langen/img/me.jpg">handsome</a>! I wonder what else this <a class="hidden_link" target="_blank" href="/langen/img/me.jpg">dashing young man</a> has created...", and then you checked out my GitHub and found the source code to this website. And then you, the curious mind that you are, wondered why there were so many folders with no links associated with them and then decided to check it out for yourself. At any rate, you put in effort, real effort, to get here. And what is there to show for it? Nothing. How embarassing for me, right? I really wouldn't want to disappoint you like that. I mean, we only just met! And honestly, I hate to give a bad first impression. So here, I guess I'll give you a sneak peak at something I've been tinkering with.</p>
  		<p class="fade-in fade-pause">It's a random text generator. Basically, it takes a bunch of phonemes (the building blocks of words) and puts them together mostly randomly. By this method, it builds up a vocabulary and stores it in a "dictionary". It then picks words randomly from this dictionary and separates them with periods (full-stops) and commas (probably half-stops, maybe a little less). Behind the scenes, there are a bunch of variables that control things like average syllable count and lexical density. These variables make up a genome of sorts. The code that I have written so far is a set of instructions for how to express that genome. Big picture, this is going to be part of a project where I analyze text from a bunch of different languages to create a "genotype pool" and then make hybrid and imitation languages like some kind of mad scientist.</p>
	</div>
		<p class="button separate-bg"><span id="gen" class="button-real noselect">[generate]</span> 255 words of text</p>

		<p id="random-text" class="fade-in fade-pause">No text has been generated yet, but I'm sure you can figure out how to do it. Feel free to take your time though, no pressure.</p>

	</div>
</div>

<script>
// Generate text
var generated = false;
function newText() {
	var syllables = '11111111222222222222222222222222333333333333333344456'.split("");
	var dict = createDictionary(syllables);
	var text = genText(255, dict);

	var rt = document.getElementById("random-text");
	rt.innerHTML = text;

	generated = true;
}

// Fancy professional web designer
// You could do this with jquery, but it would be worse in every way
window.onscroll = (function () {
	// No website is complete without a floating nav bar
	var amt_scrolled = window.scrollY;
	var nav = document.getElementById("header");
	//nav.style.top = amt_scrolled.toString() + "px";

	if (amt_scrolled > 0) {
		nav.style.position = "fixed";
		nav.style.width = "100%";
		nav.style.top = 0;
	} else {
		nav.style.position = "static";
	}

	// You also need to make things fade in, so they know you're legit
	var els = document.getElementsByClassName("fade-in");
	for (var i = 0; i < els.length; i++) {
		var el_top = els[i].getBoundingClientRect().top;
		var win_bot = window.innerHeight;

		if (win_bot >= el_top) {
			if (els[i].classList.contains('fade-pause')){
				els[i].classList.remove('fade-pause');
			}
		}
	}
});

// Scroll to text
function smoothScroll(id) {
	// Start at the screen's current y position
	var start = document.body.scrollTop;

	// This is where we're scrolling
	var el = document.getElementById(id);

	// Figure out where to stop
	var stop = el.offsetTop;
	var crawl = el;
	while (crawl.offsetParent && crawl.offsetParent != document.body){
		crawl = crawl.offsetParent;
		stop += crawl.offsetTop;
	}

	// Small distances, just jump there
	var distance = Math.abs(start - stop);
	if (distance < 100) {
		scrollTo(0, stop);
		return;
	}

	// This makes it smooth
	var speed = 10;
	var inc = Math.round(distance / speed); // velocity
	if (inc >= 20){
		inc = 20; // Don't let the scroll get choppy
	}

	var dx = Math.round(distance / 25);
	var pos = stop > start ? start + dx : start - dx;
	var timer = 0;

	if (stop > start) {
		for (var i = start; i < stop; i += dx) {
			timer += 1;
			setTimeout("window.scrollTo(0, " + pos + ")", timer * inc);
			pos += dx;
			if (pos > stop) {
				pos = stop; timer++;
			}
		}
	} else {
		for (var i = start; i > stop; i -= dx) {
			timer += 1;
			setTimeout("window.scrollTo(0, " + pos + ")", timer * v);
			pos -= dx;
			if (pos < stop) {
				pos = stop; timer++;
			}
		}
	}
}

var scroll_1 = document.getElementById("scroll-1");
scroll_1.onclick = (function () {
	smoothScroll("content");
});

var scroll_2 = document.getElementById("gen");
scroll_2.onclick = (function () {
	smoothScroll("random-text");
	newText();
});

var pc = 0;
var instructions = [
	"It's really not that hard, give it a good think.",
	"I don't get it, it's really not that hard.",
	"It is physically painful for me to see you struggling with this.",
	"If you need a hint, try looking at the \"generate\" button.",
	"It's right there, just above this text.",
	"You can tell it apart from the rest of the page because it has a black background.",
	"It looks a lot like this -> [generate]",
	"If you ask me, clicking that button would surely be helpful.",
	"...",
	"Are you serious right now?",
	"No, you can't be serious. No one could be serious about this.",
	"You're serious aren't you?",
	"How did you even get here. Like seriously, the generate button is right there. If you can't find that I am genuinely curious how you got here.",
	"You know what? I actually want to know how you managed to find your way here. Here's my email: tyler.leite@yandex.com",
	"You do know how to send an email, right?",
	"I should have known.",
	"All right, I'm just going to click if for you, ok?",
	"This is your last chance to figure it out for yourself.",
	"Well \"figure it out\" is putting it nicely. Like I legit gave you the answer.",
	"But whatever, I'm gonna help you out here. Because I care about you.",
	"Text changing in 3",
	"Text changing in 2",
	"Text changing in 1"
];

function instruct() {
	if (generated) {
		return;
	}

	if (pc == instructions.length) {
		newText();
	} else {
		var text = document.getElementById("random-text");
		text.innerHTML = instructions[pc];
		pc += 1;

		if (pc > instructions.length - 3) {
			setTimeout(instruct, 1000);
		} else {
			setTimeout(instruct, 8000);
		}
	}
}

setTimeout(instruct, 180000);

</script>
</body>
</html>
